<h1>Friends</h1>
{{#each friends as |friend| }}
    <div>
        <a href={{friend.url}}><button>
            <span>{{friend.name}}</span>
            <span>{{friend.score}}</span>
        </button></a>
        
    </div>
{{/each}}