
<div class="row" id="shift1">
  <div class="col-md-6">
    <h2 id="Title">Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label id="login" for="username-login">Username:</label>
        <input style="color: white"class="form-input" type="text" id="username-login" />
      </div>
      <div class="form-group">
        <label id="login"for="password-login">Password:</label>
        <input style="color: white"class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="login-button" style="background-color:rgb(196, 39, 39);">login</button>
      </div>
    </form>
  </div>
  <div class="col-md-6" id="shift2">
    <h2 id="Title">Signup</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label id="login"for="username-signup">Username:</label>
        <input style="color: white"class="form-input" type="text" id="username-signup" />
      </div>
      <div class="form-group">
        <label id="login"for="password-signup">Password:</label>
        <input style="color: white"class="form-input" type="password" id="password-signup" />
      </div>
      
      {{!-- <div class="input-field col s12">
        <select class="browser-default">
          <option value="" disabled selected>Choose your fitness trainer</option>
          <option value="1" id="trainer1">1</option>
          <option value="2" id="trainer2">Gamora</option>
          <option value="3" id="trainer3">Rocket Raccoon</option>
        </select>
    </div> --}}
        <button class="btn btn-primary" type="submit" id="signup-button" style="background-color:rgb(196, 39, 39);">signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./js/login.js"></script>
